<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <!-- <title>res</title> -->
		<script src='static/libs/laya.core.js'></script>
		<script src='static/libs/laya.webgl.js'></script>
		<script src='static/libs/laya.filter.js'></script>
		<script src='static/libs/laya.particle.js'></script>
		<script src='static/libs/laya.ani.js'></script>
		<script src='static/libs/laya.effect.js'></script>
		<!-- <script src='static/libs/laya.ui.js'></script> -->
		<!-- <script src='static/libs/laya.html.js'></script> -->
		<!-- <script src='static/libs/laya.tiledmap.js'></script> -->
		<script src='static/libs/laya.physics3D.js'></script>
		<script src='static/libs/laya.d3.js'></script>
		<script src='static/libs/laya.d3Plugin.js'></script>
		<script src='static/libs/laya.pathfinding.js'></script>
		<!-- <script src='static/libs/CameraMoveScript.js'></script> -->
		
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <% if (!process.browser) { %>
      <script>
        if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
      </script>
    <% } %>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
